<!DOCTYPE html>
	<html>

		<head>
			<link rel='stylesheet' href='stylesheets/wstyle.css'/>
		</head>

		<body>
			<table class="week">
			</table>
			<script>
			 var currentDate = new Date('<%=current%>');
			</script>
				<script type="text/javascript" src="javascripts/masterScript.js"></script>
				<script type="text/javascript" src="javascripts/weekScript.js"></script>
		</body>

		</html>
